<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="HW_47">
<test name="SignUp Validation">
 		<classes>
			<class name="core.AllureReportTest" >
			    <methods>
			    	<include name="SignUpTest"></include>
			        <include name="ConfirmationTest"></include>
			    </methods>    
			 </class>
		</classes>
	</test>
</suite>
